.cart{
  margin-top: 100px;
}

.text-cart {
  margin-top: 25%;
  text-align: center;
}

.link-cart {
  margin-left: 45%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}