.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 20%;
  text-align: center;
}

h2 {
  margin-top: 10px;
}
img {
  margin-top: 15%;
  max-width: 25%;
  width: 100%;
}

.cont-descrip {
  width: 25%;
  margin-top: 15px;
}

.botonBuy {
  margin: 50px 0 50px 0;
}